* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
  font-size: 3rem;
  color: #fff;
}
.container {
  height: 100vh;
  display: grid;
  place-content: center;
  grid-template-columns: 25% 300px 25%;
  grid-template-rows: repeat(4, 200px);
}

.header {
  background-color: #de4d53;
  grid-column: 1/4;
}
.menu {
  background-color: #4fffb5;
  grid-row: 2/4;
}
.main {
  background-color: lightslategray;
  grid-row: 2/4;
  grid-column: 2/4;
}
.footer {
  background-color: lightseagreen;
  grid-column: 1/4;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .menu {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
  .main {
    background-color: lightslategray;
    grid-row: 3/4;
    grid-column: 1/4;
  }
}
