html {
  scroll-behavior: smooth;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: #101010;
  height: 120vh;
}
h1 {
  color: rgb(126, 207, 201);
  text-align: center;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
img {
  max-height: 250px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
p {
  text-align: center;
  color: rgb(126, 207, 201);
  padding: 5px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.search {
  color: #ffff;
  background-color: #000000;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    1px 5px 10px 14px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 1px 5px 10px 4px rgb(126, 207, 201);
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
}
#app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  margin-top: 50px;
  gap: 1rem;
}
.card {
  text-align: center;
  height: 500px;
  width: 300px;
  border-radius: 15px;
  border: 2px solid #fff;
  font-weight: 400;
  color: #fff;
  font-size: 1.2rem;
  padding: 0;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    1px 5px 10px 14px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 1px 5px 10px 14px rgb(126, 207, 201);
  // transform: translateX(50%);
  // opacity: 0;
  // transition: tranform 0.3s ease;
  // overflow-x: hidden;

  span {
    font-weight: 600;
  }
}
.buttons {
  margin-top: 50px;
  padding: 10px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
  button {
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid #1a1a1a;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3b3b3b;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 300px;
    will-change: transform;
    &:hover {
      color: #fff;
      background-color: #1a1a1a;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }
  }
}
.loader {
  border: 200px solid #fff;
  border-color: rgb(18, 136, 127) rgb(18, 136, 127) #fff #fff;
  border-radius: 50%;
  position: absolute;
  animation: rotate 1s linear infinite;
  top: 300px;
  left: 550px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%, -40%);
    left: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(126, 207, 201);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    1px 5px 10px 14px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 1px 5px 10px 14px rgb(126, 207, 201);
  border-radius: 10px;
}
// Firefox
@supports (scrollbar-color: rgb(126, 207, 201) rgba(0, 0, 0, 0)) {
  * {
    scrollbar-color: rgb(126, 207, 201) rgb(7, 116, 108);
    scrollbar-arrow-color: red;
  }
}
